body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    background-color: #16213e;
}

.origen-contenedor {
    /* Estado inicial */
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #00d0ff1d;

    position: relative; /* Para posicionar la onda expansiva */
}

/* Onda expansiva */
.onda {
    /* Estado inicial */
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #00d2ff;
    /* opacity: 1; */

    position: absolute;
    z-index: 1; /* Para que se posicione encima del origen. */

    /** Paso 1: definir animación */
    /* sintaxis simple ->  animation: [nombre] [duración] [temporización] [iteración] */
    animation: onda 2s linear infinite;
}

/* Animación con @keyframe */

/* También se pueden definir estados de la animación en momentos específicos.
    para eso se usan porcentajes.
*/
@keyframes onda {
    0% { /* Estado inicial */
        opacity: 1;
        transform: scale(1);
    }

    /* Se cambia el color a la mitad de la animación */
    50% {/* Estado a mitad de la animación */
        background-color: rgb(193, 93, 179);
        transform: scale(1.5);
        opacity: 0.5;
    }

    100% { /* Estado final */
        opacity: 0;
        transform: scale(2);
        background-color: rgb(29, 221, 29);
    }
}

/* 

*/