* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-color: rgb(236, 240, 249);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* ------------------------------- */
/* Estilos para la tarjeta animada */
/* ------------------------------- */

.tarjeta-animada {
    /* Primero la estructura de la tarjeta */
    max-width: 18.75rem;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Estética */
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    /* Propiedades para la animación */
    transition: box-shadow 0.3s ease, translate 0.3s ease, background-color 0.3s ease;
}
.tarjeta-animada:hover {
   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
   background-color: rgb(226, 232, 252);
   translate: 0 -1rem;
}
.tarjeta-animada .titulo {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
}

.tarjeta-animada p {
    margin-bottom: 1.125rem;
}

/* Estilos pal boton */
button {
    padding: 0.625rem;
    border: none;
    color: white;
    background-color: rgb(69, 152, 220);
    border-radius: 0.313rem;

    translate: 0 1rem;
    opacity: 0;
    
    /* Propiedad para animacion */
    /* Estas propiedades ocultan el botón */
    transition: translate 0.3s ease,
                opacity 0.3s ease;
}

.tarjeta-animada:hover button {
    translate: 0;
    opacity: 1;
}