* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ++++++++++++++++ */
/* MOBILE FIRST CSS */
/* ++++++++++++++++ */

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

/* Estilos para el <header> */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0.625rem; /* padding temporal */
    font-size: 1.1rem;

    background-color: #2c3e5b;
}
header h2 {
    font-size: 1.5rem;
    color: #fff;
}

ul {
    list-style: none;
}
header ul {
    display: flex;
    gap: 0.5rem;
}
header a {
    color: #e2e2e2;
    text-decoration: none;
}

/* Estilos para el <main> */
main {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex: 1;
}
aside {
    padding: 1rem;
    background-color:#ebecf1;
    border-bottom: 1px solid #ccc;
}
aside ul {
    line-height: 1.5rem;
}
aside a {
    text-decoration: none;
    color: #2a3f61;
}
section {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1rem;

    padding: 1rem;
}
h3 {
    margin-bottom: 0.5rem;
}
article {
    width: 90%;
    padding: 0 0 0 1rem;
    border-left: 4px solid #274d9e;
}
article ul {
    list-style: disc;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

/* Estilos para el <footer> */
footer {
    background-color: #2c3e5b;
    padding: 1rem;
    text-align: center;
    color: #fff;
    font-size: 1rem;
}

/* ++++++++++++++++ */
/*    DESKTOP CSS   */
/* ++++++++++++++++ */

@media (min-width: 768px) {
    /* Estilos para el <header> */
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
    header ul {
        gap: 1rem;
    }

    /* Estilos para el <main> */
    main {
        flex-direction: row;
    }
    aside {
        max-width: 23%;
        padding: 2rem;
        border-right: 1px solid #ccc;;
    }
    aside ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    section {
        gap: 2.5rem;
        flex: 1;
    }
    
    footer {
        padding: 1.1rem;
    }
}