* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f2f5;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.5rem;
}

h2 {
    text-align: center;
    color: #333;
    margin-top: 1.1rem;
    margin-bottom: 2rem;
}

/* ************** */
/* MOBILE-FIRST */
/* ************** */

/* Estilos para lel contenedor de tarjetas*/
.contenedor-dashboard {
    width: 100%;
    max-width: 500px;

    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    
}

/* Estilos para las tarjetas */
.tarjeta {
    background-color: white;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.07);
    padding: 1.5rem;
    border-radius: 0.5rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/* Para la cabecera de la tarjeta */
.tarjeta-cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tarjeta-cabecera h3 {
    color: #555;
    font-weight: 600;
    font-size: 1rem;
    margin: 1rem 0 1rem 0;
}
.tarjeta-cabecera .trend-positive {
    font-size: 0.85rem;
    font-weight: bold;
    color: #27ae60;
    background-color: #e9f9ef;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
}
.tarjeta-cabecera .trend-negative {
    font-size: 0.85rem;
    font-weight: bold;
    color: #e74c3c;
    background-color: #fbe6e6;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
}
.tarjeta-cabecera .trend-neutral {
    font-size: 0.85rem;
    font-weight: bold;
    color: #f39c12;
    background-color: #fff2e0;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
}
/* Para el cuerpo de la tarjeta */
.tarjeta-cuerpo {
    display: flex;
    align-items: baseline;
    gap: 0.1rem;
    /* border-bottom: 1px solid green; No se ve mal */
}
.parejas {
    gap: 0.5rem;
}
.tarjeta-cuerpo .valor {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    line-height: 1;
}
.tarjeta-cuerpo .unidad {
    font-size: 1.5rem;
    color: #777;
}

/* Para el pie de la tarjeta */
.tarjeta-pie {
    font-size: 0.9rem;
    padding-top: 0.5rem;
}
.tarjeta-pie a {
    text-decoration: none;   
}
.tarjeta-pie a:link {
    color: #007bff; 
}
.tarjeta-pie a:visited {
    color: #0056b3;
}

/* ************** */
/* DESKTOP */
/* ************** */
@media (min-width: 550px) {
    .contenedor-principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedor-dashboard {
        max-width: 70%;
    }

}