/* Centrado de la escena */
.escena {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a2e;
}

.radar-contenedor {
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #16213e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00d2ff;
    font-size: 30px;
    z-index: 2;
}

/* --- LA MAGIA DE KEYFRAMES --- */

.pulso {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00d2ff;
    border-radius: 50%;
    z-index: -1; /* Va detr치s de la campana */
    
    /* Invocamos la animaci칩n: nombre | duraci칩n | ritmo | repetici칩n */
    animation: ondas 2s linear infinite;
}

@keyframes ondas {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}